<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>よくあるお問い合わせ</title>

    <link rel="stylesheet" th:href="@{http://fonts.googleapis.com/css?family=Exo:900}"/>
    <link rel="stylesheet"
          th:href="@{https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
    <script src="../../public/javascripts/jquery-1.10.2.min.js"></script>
    <script src="../../public/javascripts/jquery.autoKana.js" language="javascript" type="text/javascript"></script>
    　　<script src="//code.jquery.com/jquery-2.0.0.js"></script>
    <script src="./jquery/jquery.autoKana.js"></script>

</head>
<body>

<h1>お問い合わせ</h1>
<br>
<br>
<p>こちらの連絡先までご連絡ください</p>
<p>tiscon4@yahoo.co.jp</p>

</body>
</html>